<div>
<form class="form-horizontal" ng-submit="getPerson()">
	<div>
		<h4>{{ view }}</h4>
	</div>	
	<div ng-if="mostraMsg" ng-class="classMessage">
		<span class="glyphicon glyphicon-exclamation-sign">  <strong>{{message}}</strong></span>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="name">Nome:</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="nome" id="nome"
				ng-model="person.nome" >
		</div>
		<div class="col-sm-1">
            <div  class="btn-group">
                <button type="submit"
                    class="btn btn-info btn-lg btn-icon" title="Pesquisar"
                    name="pesquisar" id="pesquisarPerson"
                    ng-click="Submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button type="button" ng-click="newPerson()"
                    class="btn btn-info btn-lg btn-icon"
                    title="Incluir novo" name="incluirPerson" id="incluirPerson">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>            
            </div>
		</div>
	</div>
</form>
<div class="table-responsive" ng-show="isLoaded">
	<table  class="table table-bordered">
		<thead>
			<tr>
				<th>id</th>
				<th>Nome</th>
				<th>Data de Nascimento</th>
				<th>CPF</th>
				<th>E-mail</th>
				<th>Sexo</th>
				<th>Endereço</th>
				<th>Naturallidade</th>
				<th>Nacionalidade</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in persons">
				<td class="td-right">{{data.person.id}}</td>
				<td class="td-left">{{data.person.name}}</td>
				<td class="td-right">{{data.person.date_of_birth}}</td>
				<td class="td-right">{{data.person.document}}</td>
				<td class="td-left">{{data.person.email}}</td>
				<td class="td-left">{{data.person.gender}}</td>
				<td class="td-left">
					{{data.person.address.street +'/'+person.address.number + (data.person.address.complent == null ? '' : +' / '+data.person.address.complent) +' / ' + data.person.address.postal_code +' / ' + data.person.address.city +' / '+data.person.address.state}} </td>
				<td class="td-left">{{data.person.naturalness}}</td>
				<td class="td-left">{{data.person.nationality}}</td>
				<td class="td-center"><button class="btn  btn-info btn-lg btn-icon" ng-click="editPerson(data.person.id)"><span class="glyphicon glyphicon-pencil"></span></button></td>
				<td class="td-center"><button class="btn  btn-danger btn-lg btn-icon" ng-click="removePerson(data.person.id, $index)"><span class="glyphicon glyphicon-remove"></span></button></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<div id="modal" ng-include src="'views/modal_loading.html'" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"></div>
